@{
    ViewData["Title"] = "Lab2";
}

@section Styles {
    @await Html.PartialAsync("_Styles", "lab2")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "lab2")
}

<div id="lab2-app"></div>