@{
    ViewData["Title"] = "Lab3";
}


@section Styles {
    @await Html.PartialAsync("_Styles", "lab3")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "lab3")
}

<div id="lab3-app"></div>