@{
    ViewData["Title"] = "Lab1";
}

@section Styles {
    @await Html.PartialAsync("_Styles", "lab1")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "lab1")
}

<div id="lab1-app"></div>