@{
    ViewData["Title"] = "SignupPage";
}

@section Styles {
    @await Html.PartialAsync("_Styles", "signup")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "signup")
}

<div id="signup-app"></div>