@{
    ViewData["Title"] = "Login";
}

@section Styles {
    @await Html.PartialAsync("_Styles", "login")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "login")
}

<div id="login-app"></div>