@{
    ViewData["Title"] = "Profile";
}


@section Styles {
    @await Html.PartialAsync("_Styles", "profile")
}
@section Scripts {
    @await Html.PartialAsync("_Scripts", "profile")
}

<div id="profile-app"></div>